@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Karla&display=swap');

html {
    margin: auto;
    scroll-behavior: smooth;
}

body {
    margin: auto;
}

.linebreak {
    background-color: #ecf0f1;
    height: 5px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #c0392b;
    color: #ffffff;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar{
    color: #ffffff;
    background-color: #c0392b;

}


.container {
    margin: 4% auto;
}

.nav-item {
    color: #cccccc;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
}

.navbar {
    color: #cccccc;
}

.footer {
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #cccccc;
}

::-webkit-scrollbar-thumb {
    background: #e84118;
}

::-webkit-scrollbar-thumb:hover {
    background: #c23616;
}
