body {
    background-color: #222222;
}

.Main {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.title {
    color: #cccccc;
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.subscript {
    color: #cccccc;
    font-family: 'Karla', sans-serif;
    margin: 0;
    transform: translate(-90%, 200%);
}
