html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #222222;
}

#outer {
    display: flex;
    height: 100%;
}

#inner {
    margin: auto;
}

.title {    
    color: #cccccc;
    font-family: 'Karla', sans-serif;
}

.subscript {
    color: #cccccc;
    font-family: 'Karla', sans-serif;
}
